$CARD_HEIGHT: 150px; // height of a single card(excluding marginBottom/paddingBottom)
$OFFSET_HEIGHT: 64px + 10px + 8px + 50px; //  height offset from the top: header + groupMargin + groupPadding + titleHeight
$CARD_MARGIN: 8px + 0px; // height of a marginBottom + paddingBottom
