input {
    width: 100%;
}

.editableText {
    // height: 80px;
}
.editableText:hover {
    cursor: pointer;
}

// .editingText {
//     height: 80px;
// }

textarea {
    resize: none;
    border: none;
    width: 100%;
}